@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Integrantes</p>
<br />
<p>Maraly Guadalupe Gutierrez Solis -- 18210482 </p>
<p>Rodríguez Zamorano Luis Andrés -- 19211725 </p>
<p>Bejarano Duque Antoine -- 21211918 </p>